---
import ThemeToggle from "./ThemeToggle.astro";

const navItems = [
  {
    title: "Inicio",
    label: "home",
    url: "/#home",
  },
  {
    title: "Proyectos",
    label: "projects",
    url: "/#projects",
  },
  {
    title: "Sobre mí",
    label: "about",
    url: "/#about",
  },
  {
    title: "Contacto",
    label: "contact",
    url: "mailto:kilamper@gmail.com.com",
  },
];
---

<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2"
>
  <nav
    class="flex px-3 text-sm font-medium rounded-full text-gray-600 dark:text-gray-200 items-center gap-4 w-[520px] justify-between"
  >
    <button
      id="burger-menu"
      aria-label="Main menu"
      class="inline-flex items-center w-10 h-10 justify-center text-base text-gray-600 dark:text-gray-200 rounded-lg lg:hidden hover:text-blue-500 fas fa-bars"
      aria-controls="mobile-menu"
      aria-expanded="false"
    >
    </button>
    <div
      class="hidden absolute lg:relative mt-48 lg:mt-0 w-fit lg:w-full lg:flex lg:justify-between shadow-lg lg:shadow-none bg-white/50 lg:bg-transparent rounded-md"
      id="navbar-dropdown"
    >
      {
        navItems.map((link) => (
          <a
            class="relative block py-2 transition hover:text-blue-500 dark:hover:text-blue-400 hover:bg-gray-300 lg:hover:bg-transparent pl-2 pr-6 lg:pr-2 rounded-md"
            aria-label={link.label}
            href={link.url}
            data-section="header"
            data-value={link.label}
          >
            {link.title}
          </a>
        ))
      }
    </div>
    <ThemeToggle />
    <div id="flags" class="flags flex items-center gap-4">
      <div
        id="flag_item"
        class="w-7 hover:scale-110 transition cursor-pointer"
        title="Español"
      >
        <img
          src="flags/es.svg"
          alt="Spain Flag"
          class="w-7 rounded-sm drop-shadow-sm"
          data-language="es"
        />
      </div>
      <div
        id="flag_item"
        class="w-7 hover:scale-110 transition cursor-pointer"
        title="English"
      >
        <img
          src="flags/en.svg"
          alt="United Kingdom Flag"
          class="w-7 rounded-sm drop-shadow-sm"
          data-language="en"
        />
      </div>
      <div
        id="flag_item"
        class="w-7 hover:scale-110 transition cursor-pointer"
        title="Français"
      >
        <img
          src="flags/fr.svg"
          alt="France Flag"
          class="w-7 rounded-sm drop-shadow-sm"
          data-language="fr"
        />
      </div>
    </div>
  </nav>
</header>

<script>
  document.addEventListener("astro:page-load", () => {
    const sections = document.querySelectorAll("section");
    const navItems = document.querySelectorAll("header nav a");

    const callback = (entries: any[]) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          navItems.forEach((item) => {
            if (item.getAttribute("aria-label") == entry.target.id) {
              item.classList.add("text-yellow-500");
            } else {
              item.classList.remove("text-yellow-500");
            }
          });
        }
      });
    };

    const observer = new IntersectionObserver(callback, {
      root: null,
      rootMargin: "0px",
      threshold: 0.3,
    });

    sections.forEach((section) => {
      observer.observe(section);
    });

    // Cleanup function
    document.onvisibilitychange = () => {
      if (document.visibilityState === "hidden") {
        observer.disconnect();
      } else {
        sections.forEach((section) => {
          observer.observe(section);
        });
      }
    };
  });

  const burgerMenu = document.getElementById("burger-menu");
  const navbarDropdown = document.getElementById("navbar-dropdown");

  burgerMenu.addEventListener("click", () => {
    navbarDropdown.classList.toggle("hidden");
  });

  document.addEventListener("click", (event) => {
    if (event.target !== burgerMenu && event.target !== navbarDropdown) {
      navbarDropdown.classList.add("hidden");
    }
  });

  const flagsElement = document.getElementById("flags");

  const textsToChange = document.querySelectorAll("[data-section]");

  const changeLanguage = async (language) => {
    const requestJson = await fetch(`languages/${language}.json`);
    const texts = await requestJson.json();

    for (const textToChange of textsToChange) {
      const section = textToChange.getAttribute("data-section");
      const value = textToChange.getAttribute("data-value");
      textToChange.innerHTML = texts[section][value];
    }
  };

  flagsElement.addEventListener("click", (event) => {
    const target = event.target as HTMLElement;
    if (target.tagName === "IMG") {
      changeLanguage(target.getAttribute("data-language"));
    }
  });
</script>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  @keyframes nav-shadown {
    to {
      @apply shadow-lg ring-1 backdrop-blur dark:bg-gray-800/90 bg-white/50 ring-white/10;
    }
  }
</style>
