---
import SocialBox from "./SocialBox.astro";

import Java from "./icons/Java.astro";
import Angular from "./icons/Angular.astro";
import Tailwind from "./icons/Tailwind.astro";
import Firebase from "./icons/Firebase.astro";
import Fixer from "./icons/Fixer.astro";

const TAGS = {
  JAVA: {
    name: "Java",
    class: "bg-orange-100 text-orange-700",
    icon: Java,
  },
  ANGULAR: {
    name: "Angular",
    class: "bg-red-100 text-red-700",
    icon: Angular,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-sky-100 text-sky-700",
    icon: Tailwind,
  },
  FIREBASE: {
    name: "Firebase",
    class: "bg-yellow-100 text-yellow-700",
    icon: Firebase,
  },
  FIXER: {
    name: "Fixer API",
    class: "bg-blue-100 text-blue-700",
    icon: Fixer,
  },
};
const PROJECTS = [
  {
    title: "Image Viewer MVC",
    description:
      "Aplicación de visualización de imágenes con patrón de diseño MVC en Java.",
    image: "projects/image-viewer.webp",
    download:
      "https://github.com/Kilamper/image-viewer-mvc/releases/download/v1.0.1/image-viewer-mvc.jar",
    github: "https://github.com/Kilamper/image-viewer-mvc",
    tags: [TAGS.JAVA],
  },
  {
    title: "Money Calculator",
    description: "Conversor de monedas con API de cambio de divisas en Java.",
    image: "projects/money-calculator.webp",
    download:
      "https://github.com/Kilamper/money-calculator/releases/download/v1.0.1/money-calculator.jar",
    github: "https://github.com/Kilamper/money-calculator",
    tags: [TAGS.JAVA, TAGS.FIXER],
  },
  {
    title: "LabrArte Website",
    description:
      "Sitio web de la tienda de artesanía LabrArte con Angular, Tailwind CSS y Firebase.",
    image: "projects/labrarte-website.webp",
    github: "https://github.com/Kilamper/web-page",
    link: "https://labrarte.netlify.app/",
    tags: [TAGS.ANGULAR, TAGS.TAILWIND, TAGS.FIREBASE],
  },
];
---

{
  PROJECTS.map(
    ({ title, description, image, link, download, github, tags }) => (
      <article class="flex flex-col md:flex-row gap-x-6 gap-y-4 mb-8">
        <div class="w-full md:w-[540px] transition duration-500 ease-in-out shadow-xl overflow-clip rounded-xl md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
          <img
            alt={title}
            class="object-cover object-top w-full h-fit transition duration-500 hover:scale-110"
            loading="lazy"
            src={image}
          />
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg flex flex-col gap-y-2">
          <h3 class="text-2xl font-semibold text-blue-500 mb-2">{title}</h3>
          <ul class="flex gapx-x-4">
            {tags.map((tag) => (
              <li>
                <span
                  class={`flex gap-x-2 rounded-full justify-center items-center ${tag.class} px-2 py-1 mr-2 font-medium`}
                >
                  <tag.icon class="size-6" />
                  {tag.name}
                </span>
              </li>
            ))}
          </ul>
          <p
            class="text-lg mb-2 text-black dark:text-white"
            data-section="projects"
            data-value={title}
          >
            {description}
          </p>
          <nav class="flex gap-x-4">
            <SocialBox href={github}>
              <i class="fa-brands fa-github" />
              <span data-section="projects" data-value="code">
                Código
              </span>
            </SocialBox>
            {download && (
              <SocialBox href={download}>
                <i class="fa-solid fa-download" />
                <span data-section="projects" data-value="download">
                  Descargar
                </span>
              </SocialBox>
            )}
            {link && (
              <SocialBox href={link}>
                <i class="fa-solid fa-external-link" />
                <span data-section="projects" data-value="link">
                  Vista previa
                </span>
              </SocialBox>
            )}
          </nav>
        </div>
      </article>
    )
  )
}
